.a{
    display: inline;
    margin: 0px 20px 0px 0px;
    color: black;
}

.b{
    color: #182c7c;
    transition: color 0.5s;
    text-decoration: none;
    margin: 0px 20px 0px 0px;
}

.b:hover{
    color: #5f7efc;
}

.c{
    text-decoration: none;
}

.d{
    color: black;
    transition: color 0.5s;
    text-decoration: none;
    margin: 0px 20px 0px 0px;
}

.d:hover{
    color: #5f7efc;
}

.e{
    color: black;
    transition: color 0.5s;
    text-decoration: none;
    margin: 0px 20px 0px 0px;
}

.e:hover{
    color: #5f7efc;
}

.f{
    color: black;
    transition: color 0.5s;
    text-decoration: none;
    margin: 0px 100px 0px 0px;
}

.f:hover{
    color: #5f7efc;
}

.g{
    color: black;
    transition: color 0.5s;
    text-decoration: none;
    margin: 0px 20px 0px 0px;
}

.g:hover{
    color: #5f7efc;
}